/*fonts*/
@font-face{
    font-family: "Open Sans";
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');
    font-family: "Lato Bold";
    src: url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
}
/*variables*/
:root{
    --white: #FFFFFF;
}
/*reset*/
body,p,a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    font-family: 'Open Sans', sans-serif;
  }

  .btn-search{
    background-image: linear-gradient(225deg, #F2DA56 0%, #F6BC25 100%);
    box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
    border-radius: 6px;
    color: #004A80;
    padding: 12px 124px;
    text-transform: uppercase;
    font-family:'Lato Bold', sans-serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.93px;
    text-align: center;
    display: inline-block;
    border: none;
    width: 100%;
  }

  .btn-search:hover{
    background: #F2DA56;
    box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
    border-radius: 6px;
  }

  .bg-blue{
      background-color: #004A80;
  }
  .top-nav{
    /* padding-top: 20px; */
    padding: 20px 0 30px 0;
}
  .box{
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
  }

  .img-container{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .logo{
      display: flex;
      width: 75%;
      height: 25px;
  }

  .icon-search,.icon-person{
    display: flex;
    width: 100%;
    height: 23px;
}

  .search-area{
      padding-bottom: 40px;
  }
  .text-start-here{
    font-weight: bold;
    font-size: 18px;
    color: #F6BC25;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
  }
  .search-area h1 {
    font-size: 38px;
    font-weight: bold;
    color: var(--white);
    letter-spacing: 0;
    text-align: center;
    /* margin: 30px 0 10px 0; */
    margin-bottom: 10px;
  }

  .search-area h4{
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
  } 
  #header-search{
      margin: 18px 0 20px 0;
  }
  .container-input{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0;
    height: auto;
  }

  .input-email{
    background-color: #fff;
    display: block;
    border: 1px solid #CCC;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 4px 0 rgb(0 0 0 / 10%);
    box-shadow: inset 0 -1px 4px 0 rgb(0 0 0 / 10%);
    width: 100%;
    padding-left: 12px;
    height: 50px;
  }

  .container-input input{
    color: #4A4A4A;
    border: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    background: transparent;
    position: relative;
    top: 11px;
  }

  .container-input label{
    font-family:'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #9B9B9B;
    letter-spacing: 2px;
    line-height: 18px;
  }

  .yellow-text{
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #F6BC25;
    letter-spacing: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
  }

  .yellow-text img{
    display: flex;
    width: 24px;
    height: 19px;
    padding-right: 10px;
  }

  .second-section{
    background-image: linear-gradient(0deg, #E6E6E6 0%, #FFFFFF 100%);
    padding-bottom: 15px;
  }
  .sub-container {
    padding-top: 30px;
  }

  .third-container{
    padding: 20px 0 15px 0;
  }

  .bullet-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding-bottom: 15px;
  }

  .bullet{
    display: flex;
    flex-direction: column;
    flex-flow: row;
  }

  .dot{
    height: 50px;
    width: 50px;
    background-color: #004A80;
    border-radius: 50%;
    display: flex;
    font-size: 26.88px;
    color: #F6BC25;
    letter-spacing: 0;
    text-align: center;
    line-height: 50px;
    padding-left: 17px;
  }

  .bullet-container-information{
    padding-left: 10.4px;
  }

  .title-second-section {
    font-size: 38px;
    font-weight: bold;
    color: #004A80;
    letter-spacing: 0;
    text-align: center;
}

.lorem-information {
  font-size: 18px;
  color: #4A4A4A;
  letter-spacing: 0;
  line-height: 28px;
}

.bullet-title {
  font-weight: bold;
  font-size: 20px;
  color: #004A80;
  letter-spacing: 0;
}

.bullet-information {
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
  line-height: 24px;
}

.footer{
  padding: 20px 15px 30px 15px;
}
.footer-information {
  font-size: 15px;
  color: #999999;
  letter-spacing: 0;
  line-height: 20px;
  padding-bottom: 20px;
}
.text-terms{
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #004A80;
  letter-spacing: 0;

}
.result-container{
  background-color:#F8F8F8 ;
  padding: 30px 0;
}
.title-result{
  font-size: 38px;
  color: #004A80;
  letter-spacing: 0;
  text-align: center;
}
.subtitle-result{
  font-size: 18px;
  color: #4A4A4A;
  letter-spacing: 0;
  line-height: 28px;
  text-align: center;
}

/*large tablet and laptop styles*/
@media screen and (min-width: 768px){

}

/* desktop styles*/
@media screen and (min-width:1440px){
    
}